.millenium-company {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.millenium-company::after {
  content: '';
  background-image: url(../../images/phone/hand.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 221px;
  height: 113px;
  position: absolute;
  bottom: 26px;
  left: 0;
  width: 100%;
}

.millenium-company__image {
  max-width: 100vw;
  width: calc(100% + 30px); /* Занимает ширину родителя плюс отступы */
  margin-left: -15px; /* Половина отступа для центровки */
  margin-right: -15px; /* Половина отступа для центровки */
  position: relative;
  min-height: 251px;
    object-fit: cover;
    object-position: center;
}

.millenium-company__container {
  width: 100%;
  max-width: 1160px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background: rgb(244, 248, 255);
  padding-top: 40px;
  padding-bottom: 152px;
  padding-right: 13px;
  padding-left: 13px;
}

.millenium-company__container::before {
  content: '';
  position: absolute;
  background-image: url(../../images/phone/decor1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 119px;
  height: 119px;
  top: -7%;
  left: 0;
}

.millenium-company__container::after {
  content: '';
  position: absolute;
  background-image: url(../../images/phone/decor-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 102px;
  top: -5%;
  right: 0;
}

.millenium-company__container-description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.millenium-company__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto 10px;
}

.millenium-company__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
}

.millenium-company__form-container {
  position: relative;
  padding: 37px 15px 40px;
  border-radius: 20px;
  background: rgb(107, 90, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  max-width: 472px;
}

.millenium-company__form-container::after {
  content: '';
  position: absolute;
  background-image: url(../../images/phone/cube.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 91px;
  height: 91px;
  bottom: -13%;
  right: -4%;
}

.millenium-company__form-title {
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  color: var(--button-text-color);
}

.millenium-company__form-description {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.millenium-company__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding-top: 14px;
}

.millenium-company__form-input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  background-color: inherit;
  padding-bottom: 6px;
}

.millenium-company__form-input::placeholder {
  color: rgba(255, 255, 255);
  opacity: 0.4;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
}

.millenium-company__form-input-checkbox {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.millenium-company__checkbox {
  position: absolute;
  width: 1em;
  height: 1em;
  border: none;
  border-radius: 2px;
  background: rgb(155, 143, 255);
  margin-left: -1.7em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  padding: 4px 3px;
}

.millenium-company__form-label {
  width: 100%;
  padding-left: 2em;
  font-size: 12.5px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.millenium-company__form-input-checkbox:checked + .millenium-company__checkbox {
  background-image: url(../../images/phone/checked.svg);
}

.millenium-company__form-button {
  position: relative;
  color: rgb(107, 90, 249);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0;
  border: none;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.millenium-company__form-button::after {
  content: '';
  position: absolute;
  background-image: url(../../images/phone/donat.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  max-width: 42px;
  height: 41px;
  bottom: -34%;
  left: -6%;
}

@media (min-width: 622px) {
  .millenium-company__image {
  background-image: url(../../images/desktop/office-descktop.png);
  /* max-width: 1440px; */
  }
}

@media (min-width: 740px) {
  .millenium-company__container {
    padding-bottom: 223px;
  }

  .millenium-company__container::after {
    top: 43%;
    right: 0%;
    max-width: 174px;
    height: 173px;
  }

  .millenium-company__description {
    max-width: 620px;
  }

  .millenium-company__form-title {
    font-size: 24px;
    line-height: 29px;
    max-width: 340px;
  }

  .millenium-company__form-container {
    padding-left: 55px;
    padding-right: 55px;
  }

  .millenium-company__form-container::after {
    max-width: 119px;
    height: 119px;
    bottom: -38%;
    right: -21%;
  }

  .millenium-company__form-button::after {
    bottom: -143%;
    left: -69%;
  }

  .millenium-company::after {
    width: 335px;
    height: 171px;
  }
}

@media (min-width: 1100px) {
  .millenium-company__image {
    width: calc(100% + 250px); /* Занимает ширину родителя плюс отступы */
  margin-left: -125px; /* Половина отступа для центровки */
  margin-right: -125px; /* Половина отступа для центровки */
  }
  
}

@media (min-width: 1200px) {
  .millenium-company__container {
    flex-direction: row;
    padding: 6% 8% 17%;
    justify-content: space-between;
    align-items: start;
  }
  .millenium-company__container-description {
    align-items: start;
  }

  .millenium-company__title {
    max-width: 205px;
    font-size: 36px;
    font-weight: 800;
    line-height: 44px;
    margin: 0 0 10px;
  }

  .millenium-company__description {
    max-width: 448px;
    font-size: 18px;
    line-height: 22px;
    text-align: start;
  }

  .millenium-company::after {
    max-width: 430px;
    height: 219px;
    bottom: -4%;
  }

  .millenium-company__form-container::after {
    bottom: -49%;
    right: -18%;
  }

  .millenium-company__form-button::after {
    max-width: 58px;
    height: 57px;
    bottom: -246%;
    left: -36%;
  }
}
