.header__contacts {
  display: flex;
  width: 52px;
  background-color: rgb(107, 90, 249);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}