.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 14px 20px 10px;
}

.header__menu-mobile-btn {
  border: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: inherit;
  width: 41px;
  cursor: pointer;
  transition-property: background-image, transform;
  transition-duration: 1s;
}

.header__menu-mobile-btn--no-active {
  transform: rotate(360deg);
  background-image: url(../../images/phone/menu.svg);
}

.header__menu-mobile-btn--active {
  transform: rotate(-360deg);
  background-image: url(../../images/phone/menu-active.svg);
}

.header__menu-desktop {
  display: none;
  width: 100%;
  max-width: 382px;
  align-items: center;
  margin-right: 34px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__menu-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.header__contacts {
  text-decoration: none;
}

.header__contacts--mobile-viewport {
  display: flex;
  width: 52px;
  background-color: var(--button-background-color);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__contacts--desktop-viewport {
  display: none;
  max-width: 495px;
  width: 100%;
  grid-template-columns: 298px 177px;
  grid-template-rows: 36px 24px;
  row-gap: 0px;
  column-gap: 20px;
  grid-template-areas: 'phone button'
    'shedule button';
}

.header__contacts-items {
  width: 100%;
  max-width: 298px;
  display: flex;
  justify-content: space-between;
  grid-area: phone;
  align-items: center;
}

.header__phone-number {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.header__icon {
  width: 18px;
  height: 18px;
}

.header__shedule {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin: 0;
  grid-area: shedule;
  text-align: right;
}

.header__button {
  width: 177px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background:  var(--button-background-color);
  color: var(--button-text-color);
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  grid-area: button;
  cursor: pointer;
}

.header__btn-tel {background-color: inherit;
  background-image: url(../../images/phone/phone.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  max-width: 16.76px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

.header__link {
  cursor: pointer;
}

.header__logo {
  width: 113.21px;
}

@media (min-width: 757px) {
  .header {
    padding-top: 22px;
    padding-bottom: 41px;
    padding-left: 31px;
    padding-right: 22px;
  }
}

@media (min-width: 1100px) {
  .header {
    max-width: calc(100% - 280px);
    padding: 35px 0 25px;
  }
}

@media (min-width: 1267px) {
  .header__menu-mobile-btn {
    display: none;
  }
  .header__logo {
    width: 182px;
    margin-right: 34px;
  }

  .header__menu-mobile {
    display: none;
  }

  .header__menu-desktop {
    display: flex;
  }

  .header__contacts--mobile-viewport {
    display: none;
  }

  .header__contacts--desktop-viewport {
    display: grid;
  }
}