.form {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--lightbox-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
padding-left: 13px;
padding-right: 13px;
transform: scale(0);
transform-origin: 50% 50%;
transition: transform .5s ease-out;
}

.form--active {
    transform: scale(1);
}

.form__container {
    position: relative;
    background-color: var(--main-background-color);
    width: 100%;
max-width: 532px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
padding: 27px 15px 36px;
gap: 15px;
}

.form__btn-close {
    padding: 0;
    border: none;
    width: 13px;
    height: 13px;
    background-image: url(../../images/phone/close.svg);
    background-position: center;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 10px;
}

.form__title {
    font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0;
margin-top: 0;
margin-bottom: 15px;
}

.form__applying {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form__field {
    width: 100%;
    color: rgb(126, 126, 126);
    font-size: 16px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0;

}

.form__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgb(152, 149, 180);
    padding-top: 13px;
    padding-bottom: 9px;
}

.form__input::placeholder {
    color: rgb(152, 149, 180);
    font-size: 12px;
font-weight: 700;
line-height: 15px;
letter-spacing: 0;
}

.form__button {
    width: 100%;
}

.form__accept {
    color: rgb(152, 149, 180);
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0;  
    margin-top: 0;
    margin-bottom: 5px;
}

@media (min-width: 700px) {
    .form__title {
        font-size: 20px;
        line-height: 24px;
    }
    .form__container {
    padding: 27px 79px;
    }
}

@media (min-width: 1100px) {
    .form__container {
    max-width: 766px;
    }

    .form__container {
        padding: 27px 196px;
        }
}