@media (min-width: 767px) {
  .site-properties__items.swiper {
    z-index: 0;
  }
  .site-properties__item.swiper-slide {
    visibility: visible; /* Делаем слайды видимыми */
    opacity: 1; /* Устраняем возможные проблемы с прозрачностью */
    transform: translateX(0); /* Убираем любые трансформации */
    pointer-events: auto; /* Позволяем взаимодействие с элементами */
  }

  .site-properties__list .swiper-wrapper {
    display: block; /* Делаем обертку обычным блочным элементом */
    margin-bottom: 0;
  }

  .site-properties__items .swiper-pagination {
    display: none;
  }
}
