.content {
    max-width: calc(100% - 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 150px;
}

@media (min-width: 1430px) {
    .content {
        max-width: calc(100% - 250px);
        gap: 150px;
    }
}