.burger-menu {
    background-color: rgba(163, 161, 161, 0.85);
    position: fixed;
    /* width: 100%; */
    z-index: 1;
    top: 71px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    overflow: scroll;
}

/* .burger-menu__header {
    box-shadow: 0px 5px 4px -3px rgba(0, 0, 0, 0.25);
} */

@media (min-width: 1267px) {
    .burger-menu {
        display: none;
    }
}