.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.about__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    width: 100%;
    max-width: 327px;
    margin: 0;
}

.about__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.about__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    object-fit: cover;
}

.about__info {
    width: calc(100% - 15px);
    margin-top: 29px;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    align-self: flex-start;
}

.about__button {
    margin-bottom: 9px;
}

.about__bonus {
    text-align: center;
    width: 100%;
    max-width: 340px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 137.4%;
}

@media (min-width: 757px) {
    .about {
        overflow: hidden;
        align-items: flex-start;
        min-height: 378px;
    }

    .about__container {
        overflow: visible;
        height: auto;
    }

    .about__title {
        max-width: 653px;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    .about__image {
        width: 569px;
        top: 164px;
        left: 70%;
        height: 378px;
    }

    .about__info {
        width: 100%;
        max-width: 356px;
        margin-top: 29px;
        margin-bottom: 50px;
    }

    .about__bonus {
        text-align: left;
        max-width: 269px;
        font-size: 12px;
        font-weight: 600;
        line-height: 137.4%;
    }
}

@media (min-width: 1200px) {
    .about {
        padding-top: 26px;
    }

    .about__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 33px;
    }

    .about__image {
        width: 608px;
        top: 172px;
        left: 75%;
        height: 500px;
    }

    .about__info {
        max-width: 619px;
        margin-bottom: 116px;
        margin-top: 0;
    }

    .about__button {
        margin-bottom: 20px;
    }

    .about__bonus {
        font-size: 14px;
        max-width: 472px;
    }
}