.business-research {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.business-research__title {
  margin-top: 0;
  margin-bottom: 15px;
}

.business-research__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.business-research__paragraph {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

@media (min-width: 600px) {
  .business-research {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'title image'
      'paragraph image'
      'paragraph image';
  }

  .business-research__title {
    grid-area: title;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
  }

  .business-research__paragraphs {
    grid-area: paragraph;
  }
  .business-research__image {
    grid-area: image;
    align-self: center;
  }
}

@media (min-width: 1100px) {
  .business-research__title {
    font-size: 36px;
    line-height: 44px;
  }

  .business-research__paragraphs {
    font-size: 18px;
    line-height: 22px;
  }

  .business-research__image {
    min-height: 500px;
  }
}
