@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Regular'),
         url(./static/Montserrat-Regular.ttf) format('.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Medium'),
         url(./static/Montserrat-Medium.ttf) format('.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-SemiBold'),
         url(./static/Montserrat-SemiBold.ttf) format('.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-Bold'),
         url(./static/Montserrat-Bold.ttf) format('.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    src: local('Montserrat-ExtraBold'),
        url(./static/Montserrat-ExtraBold.ttf) format('.ttf');
    font-weight: 800;
    font-display: swap;
}