.header__contacts-link {
  background-image: url(../images/phone/phone.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  max-width: 16.76px;
  margin: 0 auto;
}