.certificates {
  width: 100%;
  border-radius: 10px;
  background: rgb(240, 213, 119);
  padding: 19px 16px 15px;
  margin-bottom: 60px;
}

.certificates__container {
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding: 19px 14px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificates__gold-bitrix {
  width: 100%;
  max-width: 99px;
  margin-bottom: 19px;
}

.certificates__slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.certificates__image {
  width: 100%;
  min-height: 395px;
}

.certificates__description {
  color: rgb(159, 159, 159);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 6px;
  margin-top: 0;
}

.certificates__title {
  margin-top: 0;
  margin-bottom: 24px;
  width: 100%;
  max-width: 212px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0;
  text-align: center;
}

.certificates__swiper {
  min-height: 390px;
width: 100%;
height: 100%;
padding-bottom: 30px;
}

.certificates__swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .certificates {
    padding: 26px 20px 32px;
    margin-bottom: 70px;
  }

  .certificates__gold-bitrix {
    max-width: 185px;
    margin-bottom: 43px;
  }

  .certificates__image {
    min-height: 607px;
  }
}

@media (min-width:1340px) {
  .certificates {
    padding: 26px 20px;
    margin-bottom: 0;
  }

  .certificates__container {
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
  }
  
  .certificates__gold-bitrix {
    height: 100%;
  width: 100%;
  max-width: 266px;
  margin-bottom: -36px;
  flex-shrink: 0;
  flex-basis: 35%;
  }

  .certificates__swiper {
    min-height: 327px;
  }

  .certificates__swiper.swiper {
    margin: 0;
  }

  .certificates__swiper .swiper-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .certificates__swiper-slide {
    width: 50%;
    margin: 0;
  }

  .certificates__image {
    min-height: 200px;
}

.certificates__title {
  margin-bottom: 14px;}

.certificates__swiper .swiper-pagination {
  display: none;
}

  .certificates__gold-bitrix {
  max-width: 359px;
  }

  .certificates__image {
    height: 327px;
}
}