html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: rgb(42, 35, 103);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.body {
  margin: 0 auto;
}

.hover {
  cursor: pointer;
}

.header {
  width: 100%;
  max-width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto 11px;
  padding-top: 16px;
}

.header__menu--type--burger {
  background-image: url(../images/phone/menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 41px;
}

.header__menu--type--list {
  display: none;
  width: 100%;
  max-width: 382px;
  align-items: center;
  margin-right: 34px;
}

.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__menu-item {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.header__contacts {
  text-decoration: none;
}

.header__contacts--type--small {
  display: flex;
  width: 52px;
  background-color: rgb(107, 90, 249);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__contacts--type--big {
  display: none;
  max-width: 495px;
  width: 100%;
  grid-template-columns: 298px 177px;
  grid-template-rows: 36px 24px;
  row-gap: 0px;
  column-gap: 20px;
  grid-template-areas: 'phone button'
    'shedule button';
}

.header__contacts-items {
  width: 100%;
  max-width: 298px;
  display: flex;
  justify-content: space-between;
  grid-area: phone;
  align-items: center;
}

.header__phone-number {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.header__icon {
  width: 18px;
  height: 18px;
}

.header__shedule {
  color: rgb(42, 35, 103);
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  margin: 0;
  grid-area: shedule;
  text-align: right;
}

.header__button {
  width: 177px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: rgb(107, 90, 249);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  grid-area: button;
}

.header__contacts-link {
  background-image: url(../images/phone/phone.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  max-width: 16.76px;
  margin: 0 auto;
}

.header__logo {
  width: 113.21px;
}

.content {
  /* max-width: 360px; */
  max-width: calc(100% - 20px);
  width: 100%;
  margin: 0 auto;
  padding-bottom: 110px;
}

.about {
  width: 100%;
  /* max-width: 360px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  width: 100%;
  max-width: 327px;
  /* margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0; */
  margin: 0;
}

.about__accent {
  color: rgb(107, 90, 249);
}

.accent-text {
  font-weight: 700;
}

.about__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.about__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 360px; */
  height: 300px;
  object-fit: cover;
}

.about__info {
  width: calc(100% - 15px);
  /* max-width: 312px; */
  /* margin: 29px auto 50px 7px; */
  margin-top: 29px;
  /* margin-left: 7px; */
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  align-self: flex-start;
}

.about__button {
  border: none;
  border-radius: 5px;
  background: rgb(107, 90, 249);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 800;
  line-height: 15px;
  margin-bottom: 9px;
  width: 275px;
  height: 60px;
}

.about__bonus {
  text-align: center;
  width: 100%;
  max-width: 340px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 137.4%;
}

@media (width >=757px) {
  .header {
    margin: 22px auto 41px;
    padding-left: 31px;
    padding-right: 22px;
  }

  .about {
    overflow: hidden;
    align-items: flex-start;
    min-height: 378px;
  }

  .about__container {
    overflow: visible;
    height: auto;
  }

  .about__title {
    max-width: 653px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  .about__image {
    width: 569px;
    top: 164px;
    left: 70%;
    height: 378px;
    /* top: 16%;
    left: 41%;
    transform: none; */
  }

  .about__info {
    width: 100%;
    max-width: 356px;
    /* margin: 29px auto 50px 7px; */
    margin-top: 29px;
    /* margin-left: 7px; */
    margin-bottom: 50px;
  }

  .about__bonus {
    text-align: left;
    max-width: 269px;
    font-size: 12px;
    font-weight: 600;
    line-height: 137.4%;
  }
}

@media (width >=1267px) {
  .content {
    max-width: calc(100% - 280px);
  }

  .header {
    max-width: calc(100% - 280px);
    padding: 0;
  }

  .header__logo {
    width: 182px;
    margin-right: 34px;
  }

  .header__menu--type--burger {
    display: none;
  }

  .header__menu--type--list {
    display: flex;
  }

  .header__contacts--type--small {
    display: none;
  }

  .header__contacts--type--big {
    display: grid;
  }

  .about {
    padding-top: 26px;
  }

  .about__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 33px;
  }

  .about__image {
    width: 608px;
    top: 172px;
    left: 75%;
    height: 500px;
  }

  .about__info {
    max-width: 619px;
    margin-bottom: 116px;
    margin-top: 0;
  }

  .about__button {
    margin-bottom: 20px;
  }

  .about__bonus {
    font-size: 14px;
    max-width: 472px;
  }
}
