.menu {
    background-color: rgba(163, 161, 161, 0.85);
}

.menu__container {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 225px;
}

.menu-list {
    max-width: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
}

.menu__button-close {
    border: none;
    width: 14px;
    height: 14px;
    background-image: url(../../images/phone/close-btn.svg);
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 24px;
    left: 10px;
}

.menu__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
}

.menu__container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(107, 90, 249);
    letter-spacing: 0;
}

.menu__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.menu__contacts-link {
    font-style: normal;
}

.menu__shedule {
    margin-top: 0;
}