.menu {
    /* background-color: rgba(163, 161, 161, 0.85); */
    box-shadow: inset 0px 5px 4px -3px rgba(0, 0, 0, 0.25);
    height: 100%;
}

.menu__container {
    box-shadow: inset 0px 5px 4px -3px rgba(0, 0, 0, 0.25);
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0;
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    
}

.menu-list {
    max-width: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 28px;
}

.menu__button-close {
    padding: 0;
    border: none;
    width: 14px;
    height: 14px;
    background-image: url(../../images/phone/close.svg);
    background-position: center;
    background-color: transparent;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 24px;
    left: 10px;
}

.menu__link {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0;
    transition: filter .5s;
}

.menu__link:hover {
    filter: invert(20%) drop-shadow(4px 4px 10px rgb(16, 174, 227));
}

.menu__container-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: rgb(107, 90, 249);
    letter-spacing: 0;
}

.menu__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.menu__contacts-link {
    font-style: normal;
}

.menu__shedule {
    margin-top: 0;
}

@media (min-width: 380px) {
    .menu__button-close {
        transform: translateX(318px);
    }
}